.navBgColor{
    border:1px solid #7B7878;
}


.navbgPrimary{
    border:1px solid orangered;
}


.OverViewBox1{
   box-shadow: 16px 19px 112px -36px rgba(0,0,0,0.75);
}


/* Vector 1 */

position: absolute;
width: 292px;
height: 82.03px;
left: 357.67px;
top: 139.08px;

/* Vector 1 */

position: absolute;
width: 292px;
height: 82.03px;
left: 357.67px;
top: 139.08px;
